@import "tailwindcss";


@theme {

  /* spacing */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5405rem + 0.0939vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.853rem + 0.0939vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6215rem + 0.2817vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.162rem + 0.3756vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.243rem + 0.5634vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3239rem + 0.7512vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4859rem + 1.1268vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2025rem + 0.4695vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4305rem + 0.5634vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.743rem + 0.5634vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8609rem + 1.1268vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4014rem + 1.2207vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7218rem + 2.2535vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8028rem + 2.4413vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4437rem + 4.507vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6408rem + 2.0657vw, 2.5rem);

  /* font size 14-20px */
  --step--2: clamp(0.6076rem, 0.5399rem + 0.289vw, 0.8rem);
  --step--1: clamp(0.7292rem, 0.6338rem + 0.4069vw, 1rem);
  --step-0: clamp(0.875rem, 0.743rem + 0.5634vw, 1.25rem);
  --step-1: clamp(1.05rem, 0.8695rem + 0.77vw, 1.5625rem);
  --step-2: clamp(1.26rem, 1.0159rem + 1.0413vw, 1.9531rem);
  --step-3: clamp(1.512rem, 1.1847rem + 1.3963vw, 2.4414rem);
  --step-4: clamp(1.8144rem, 1.3787rem + 1.8589vw, 3.0518rem);
  --step-5: clamp(2.1773rem, 1.6007rem + 2.46vw, 3.8147rem);

  /* font size 18-22px t=title*/
  --step--2-t: clamp(0.7813rem, 0.7465rem + 0.1484vw, 0.88rem);
  --step--1-t: clamp(0.9375rem, 0.8803rem + 0.2441vw, 1.1rem);
  --step-0-t: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
  --step-1-t: clamp(1.35rem, 1.2202rem + 0.554vw, 1.7188rem);
  --step-2-t: clamp(1.62rem, 1.4339rem + 0.7939vw, 2.1484rem);
  --step-3-t: clamp(1.944rem, 1.6829rem + 1.1141vw, 2.6855rem);
  --step-4-t: clamp(2.3328rem, 1.9722rem + 1.5386vw, 3.3569rem);
  --step-5-t: clamp(2.7994rem, 2.3075rem + 2.0985vw, 4.1962rem);

  /* color */
  --clr-hijau: oklch(0.3303 0.0656 169.69);
  --clr-kuning-terang: oklch(0.9501 0.0388 95.86);
  --clr-hijau-1:oklch(0.5199 0.0992 137.32);
  --clr-hijau-2:oklch(0.8123 0.0988 127.32);
  --clr-hijau-3: oklch(0.4745 0.0745 160.67);
  --clr-hijau-4: oklch(0.5578 0.1688 142.89);
  --clr-hijau-5: oklch(0.3912 0.0713 142.88);
  --clr-hijau-6: oklch(0.3549 0.0429 164.67);
  --clr-biru: oklch(0.5782 0.2282 260.03);


}